# My Jupyter Notebook on IBM Watson Studio

**Francesca Delfino**


AS-IS data analyst, TO-BE data scientist.

*I'm interested in data science because I'd like to apply my experience as a data analyst in this field and enlarge my knowledge boundaries.*

### The following code answers to the Ultimate Question of Life, the Universe, and Everything

In [1]:
print("42")

42

------
To complete this assignment, I'm going to use the [Markdown Cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet "Yes, I'm going to use it sooo bad!") savagely.

![lets_start](https://media.istockphoto.com/vectors/lets-start-big-words-concept-with-team-people-and-rocket-startup-vector-id1161735454?k=20&m=1161735454&s=612x612&w=0&h=n80Xr56n2AJxS5CWTRYwK2-p6wR9lqBjpKJRIUXbdKw= "I've searched for 'let's start' on Google")

---

Here is my shopping list:
- Milk
- Eggs
- Bread
- ~~Beer~~ (Strikethrough because I always have beer in my fridge!)

And here is my tasks list for today:
1. Complete this assignment
2. Go to the market
    - and remember the shopping list
3. Pay the house rent

Then, I just had an idea:
>Francesca! Why don't show how good you are at SQL?

So I decided to explain how to use the **ROW_NUMBER()** function in **SQL**.

## ROW_NUMBER() in SQL
Let's say that we have a table ADDRESS_BOOK in which one contact has two phone numbers, but we want to keep only the most recent.

Name|Surname|Phone Number|Update date<br />(YYYY/MM/DD)
---|---|---|---
John|Snow|+39 3381702581|2019/01/01
John|Snow|+44 12237159993|2021/10/20

We will use the ROW_NUMBER() function to rank the rows basing on the update date.
```SQL
select
    NAME,
    SURNAME,
    PHONE_NUMBER,
    UPDATE_DATE,
    ROW_NUMBER() over (partition by NAME, SURNAME order by UPDATE_DATE desc) as RN
from ADDRESS_BOOK
```
How does it works?
- *partition by NAME, SURNAME*: this means that we will have a rank for each rows that have same NAME and SURNAME. When these values changes, then the rank will start again counting from 1.
- *order by UPDATE_DATE desc*: this means that the rank will be from the most recent to the less recent value in UPDATE_DATE.

And here the result.

Name|Surname|Phone Number|Update date<br />(YYYY/MM/DD)|RN
---|---|---|---|---
John|Snow|+39 3381702581|2019/01/01|2
John|Snow|+44 12237159993|2021/10/20|1

And finally, to keep only the most recent row, we need to add just a WHERE clause to the previous query.
```SQL
select
    ranked_ab.NAME,
    ranked_ab.SURNAME,
    ranked_ab.PHONE_NUMBER,
    ranked_ab.UPDATE_DATE
from(
    select
        ab.NAME,
        ab.SURNAME,
        ab.PHONE_NUMBER,
        ab.UPDATE_DATE,
        ROW_NUMBER() over (partition by ab.NAME, ab.SURNAME order by ab.UPDATE_DATE desc) as RN
    from ADDRESS_BOOK ab
) ranked_ab
where ranked_ab.RN = 1
```
And the result will be as follow.

Name|Surname|Phone Number|Update date<br />(YYYY/MM/DD)
---|---|---|---
John|Snow|+44 12237159993|2021/10/20

---

![thats_all_folks](https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a5a71474-025c-4ffe-b8c1-373c30b8bd6c/dc6kiet-017f562b-03e8-4636-97da-44a8df70b589.jpg/v1/fill/w_1024,h_587,q_75,strp/that_s_all_folks_space_jam_by_toon1990_dc6kiet-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTg3IiwicGF0aCI6IlwvZlwvYTVhNzE0NzQtMDI1Yy00ZmZlLWI4YzEtMzczYzMwYjhiZDZjXC9kYzZraWV0LTAxN2Y1NjJiLTAzZTgtNDYzNi05N2RhLTQ0YThkZjcwYjU4OS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.gRG7Vxt8hBIkkFG3AO2BiCcjk1eNR6P6udanHz94DhQ)